@media screen and (min-width: 694px) and (max-width: 915px) {
    .anime {
      max-width: 33%;
    }
  }

  @media screen and (min-width: 652px) and (max-width: 693px) {
    .anime {
      max-width: 50%;
    }
  }


  @media screen and (max-width: 651px) {
    .anime {
      max-width: 100%;
      margin: auto;
    }
  }